{% extends 'CoreBundle:profile:layout.html.twig' %}


{% block main %}
  <div class="container">
    <h3 class="text-center text-info"> Modifier mes informations </h3>
      {% for msg in app.flashes('notice_error') %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ msg }}
          </strong>
        </div>
      {% endfor %}
    {{ form_start(form) }}
    <div class="form-group row">
        <label class="col-md-4">Age</label>
        {{ form_widget(form.age, {'attr': {'class': 'form-control col-md-8'}}) }}
    </div>
    <div class="form-group row">
      <label class="col-md-4">Famille</label>
        {{ form_widget(form.famille, {'attr': {'class': 'form-control col-md-8'}}) }}
    </div>
    <div class="form-group row">
      <label class="col-md-4">Race</label>
        {{ form_widget(form.race, {'attr': {'class': 'form-control col-md-8'}}) }}
    </div>
    <div class="form-group row">
      <label class="col-md-4">Nourriture</label>
        {{ form_widget(form.nourriture, {'attr': {'class': 'form-control col-md-8'}}) }}
    </div>
    <div class="form-group row">
      <input type="submit" value="Mettre à jour" class="btn btn-success">
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}